@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: "Questrial", sans-serif;
}

.img-responsive {
  max-width: 100%;
}

header {
  position: relative;
  box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
  width: 100%;
  background-color: #fff;
}

aside {
  min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #c2185b;
}

.btn {
  margin-bottom: 4%;
  margin-right: 2%;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}

main.login {
  width: 400px;
}

section.full {
  width: 100%;
  min-height: 80vh;
  padding: 50px 0;
}

article.evento {
  width: 350px;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  padding: 10px;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.content-modal {
  margin: 0 auto;
  margin-top: 5%;
  max-width: 500px;
  padding: 20px;
  background-color: #eee;
  box-shadow: 0 0 2px #fff;
  border-radius: 5px;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.nome-rg,
.sexo-idade-evento {
  display: flex;
  gap: 20px;
}

select,
input {
  height: 30px;
}

#nome,
#nascimento {
  width: 300px;
}

#rg,
#sexo,
#nascimento {
  width: 150px;
}

#quantidade {
  width: 130px;
}

.indv {
  display: flex;
  flex-direction: column;
}

.concluir {
  justify-content: center;
  background-color: #c2185b;
  color: #fff;
  border-radius: 5px;
  border: #c2185b;
  cursor: pointer;
  padding: 5px 20px;
  margin: 10px;
  margin-left: 0;
  justify-content: center;
}

/* Página reservas */
.dados-evento {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#nome-evento {
  font-weight: bold;
  font-size: 20px;
}

/* Centralizando tabelas */
table {
  text-align: center;
}
/* responsividade da pagina de eventos  */
@media screen and (max-width: 900px) {

  .p-5 {
    width: auto;
    padding: 1% !important;
  }

  .btn,
  td {
    font-size: 1rem;
  }

  .btn {
    margin-bottom: 4%;
  }

  .container-fluid {
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  aside {
    min-height: 0;
    text-align: center;
    width: 100%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 100%;
    /* height: 100px; */
  }
  .img-responsive {
    max-width: 30%;
  }
  .fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
    text-align: center;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #c2185b;
    width: 50%;
    margin: 0 auto;
  }

  .my-5 {
    text-align: center;
  }

  element.style {
    overflow-y: auto;
  }
}

/* Banner landing page */
#section-banner {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: right;
}

#container-banner {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  text-align: center;
  padding: 30px;
}

#nome-evento-banner {
  color: #c2185b;
  text-align: center;
  padding: 20px;
}
