@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: "Questrial", sans-serif;
}

.img-responsive {
  max-width: 100%;
}

.load {
  position: relative;
  margin: auto;
  color: #c2185b;
  text-align: center;
}

header {
  position: relative;
  box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
  width: 100%;
  background-color: #fff;
}

aside {
  min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #c2185b;
}

.btn {
  margin-bottom: 4%;
  margin-right: 2%;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}

main.login {
  width: 400px;
}

/*Pagina index*/

.pagina_inicial {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: space-between !important;
}

.card {
  min-width: 30%;
  white-space: nowrap;
}

section.full {
  width: 100%;
  padding: 50px 0;
}

#section-banner {
  min-height: 60vh;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  padding: 10px;
}

/* Página reservas */
.dados-evento {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#nome-evento {
  font-weight: bold;
  font-size: 20px;
}

/* Centralizando tabelas */
table {
  text-align: center;
}

.cards_index p,
h2,
h4 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button_ver_todos {
  margin-top: 2%;
}

@media screen and (max-width: 900px) {
  /* responsividade da pagina de eventos  */
  .p-5 {
    width: auto;
    padding: 1% !important;
  }

  .td {
    font-size: 1rem;
  }

  .btn {
    margin-bottom: 4%;
    font-size: 0.6rem;
  }

  .container-fluid {
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  aside {
    min-height: 0;
    text-align: center;
    width: 100%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 100%;
  }
  .img-responsive {
    max-width: 30%;
  }
  .fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
    text-align: center;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #c2185b;
    width: 50%;
    margin: 0 auto;
  }

  .my-5 {
    text-align: center;
  }

  element.style {
    overflow-y: auto;
  }

  /* responsividade da pagina inicial */

  .img_down_index {
    width: 100%;
  }

  footer nav ul {
    display: block;
  }

  article.evento {
    width: 100%;
    text-align: center;
  }

  .descricao_index {
    text-align: center;
  }

  #section-banner {
    margin-right: 2%;
  }

  .cards_index {
    text-align: center;
  }
  /* responsividade pagina de cadastro */
  .form_cadastro_evento,
  .form_editar {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }

  #nome,
  #sexo,
  #rg,
  #nascimento,
  #quantidade {
    width: 100%;
  }

  /* responsividade modal */
  .form-modal div {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-height: 900px) {
  /* responsividade da pagina inicial */
  p,
  li {
    font-size: 1.4rem;
  }

  /* responsividade pagina de cadastro e editar*/

  .form_cadastro_evento,
  .form_editar {
    font-size: 1.7rem;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1.4rem;
  }

  .form_cadastro_evento input,
  .form_editar input {
    font-size: 1.4rem;
  }
}

/* Banner landing page */
#section-banner {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: right;
}

#container-banner {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  text-align: center;
  padding: 30px;
}

#nome-evento-banner {
  color: #c2185b;
  text-align: center;
  padding: 20px;
}
